<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>20191026</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>demo1</display-name>
    <servlet-name>demo1</servlet-name>
    <servlet-class>zdnfDemo1.demo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo1</servlet-name>
    <url-pattern>/demo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserlistServlet</display-name>
    <servlet-name>UserlistServlet</servlet-name>
    <servlet-class>zdnfDemo1.UserlistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserlistServlet</servlet-name>
    <url-pattern>/UserlistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>zdnfDemo1.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsterUserServlet</display-name>
    <servlet-name>InsterUserServlet</servlet-name>
    <servlet-class>zdnfDemo1.InsterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsterUserServlet</servlet-name>
    <url-pattern>/InsterUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>zdnfDemo1.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReginstServlet</display-name>
    <servlet-name>ReginstServlet</servlet-name>
    <servlet-class>zdnfDemo1.ReginstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReginstServlet</servlet-name>
    <url-pattern>/ReginstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>zdnfDemo1.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserlistServlets</display-name>
    <servlet-name>UserlistServlets</servlet-name>
    <servlet-class>zdnfDemo1.UserlistServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserlistServlets</servlet-name>
    <url-pattern>/UserlistServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapServlet</display-name>
    <servlet-name>MapServlet</servlet-name>
    <servlet-class>zdnfDemo1.MapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapServlet</servlet-name>
    <url-pattern>/MapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ins</display-name>
    <servlet-name>Ins</servlet-name>
    <servlet-class>zdnfDemo1.Ins</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ins</servlet-name>
    <url-pattern>/Ins</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newselvet</display-name>
    <servlet-name>newselvet</servlet-name>
    <servlet-class>zdnfDemo1.newselvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newselvet</servlet-name>
    <url-pattern>/newselvet</url-pattern>
  </servlet-mapping>
</web-app>